:root {
    --primary-color: #46EFA2;
    --body-color: #f9f9f9;
    --text-color: #636363;
    --text-color-dark: #242738;
    --white-color: #ffffff;
    --light-color: #f8f9fa;
    --font-family: 'Montserrat', sans-serif;
}

body.dark-theme {
    --body-color: black;
    --text-color: #e1e1e1;
    --text-color-dark: white;
    --white-color: #121212;
    --light-color: #1A1A1A
}

header {
    background-image: url(../img/background.png);
    /* box-shadow: 0 0 20px rgba(0, 0, 0, .3), inset 0 -5px rgba(0, 0, 0, .3); */
    min-height: 100vh
}

header.bg-cover::before {
    background: rgba(0, 0, 0, 0.5);
}

#banner {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto
}

#banner-text {
    padding: 80px 0;
    margin: 0 60px 0 550px;
    text-shadow: 0 0 20px #000;
    width: 900px
}

#banner-text h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 1px;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 1);
    margin: 0
}

#banner-text p {
    color: #fff;
    font-size: 24px;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 1);
    letter-spacing: 2px;
    margin: 0
}

#down-arrow {
    position: absolute;
    bottom: 70px;
    right: 50%;
    animation: bounce 1s cubic-bezier(.5, .05, 1, .5)infinite alternate;
    transform-origin: right bottom
}

#down-arrow div {
    display: block;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    margin: 0 0 3px 10px
}

@keyframes bounce {
    0% {
        transform: translateY(-10px)scaleY(.8)
    }

    100% {
        transform: translateY(10px)scaleY(1)
    }
}


.grabbing,
.grabbing * {
    cursor: grabbing !important
}

section [class^=ti-],
section [class*=" ti-"] {
    margin-right: .4em
}

.white-section {
    background-color: var(--white-color)
}

section {
    height: 100vh;
    width: 100vw;
    /* box-shadow: 0 -30px 80px 0 var(--primary-color) */
}

@media(max-width:700px) {
    section {
        padding: 60px 0
    }
}

section>h1,
section>h2,
section>h3,
section>h4,
section>p {
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: normal
}

section h1 {
    font-weight: 700
}

section h2,
section h3,
section h4 {
    font-weight: 400
}

section>p,
section div>p {
    font-size: 19px;
    line-height: 1.8
}

#kali-highlights h1 {
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center
}

#kali-highlights i {
    color: var(--primary-color)
}

#kali-highlights a>h4 {
    color: var(--text-color-dark)
}

#kali-highlights>div {
    margin: auto;
    width: 90%;
    max-width: 1200px;
    padding: 300px 300px 0 300px
}

#kali-highlights ul {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto
}

#kali-highlights li {
    width: 400px;
    line-height: 1.8;
    padding: 20px 20px 0;
    text-align: justify
}

#kali-highlights li::before {
    display: none
}

@media(max-width:760px) {
    #kali-highlights h3 {
        display: none;
        margin-left: 100px;
    }

    #kali-highlights ul,
    #kali-highlights>div {
        width: 90%;
        text-align: left;
        max-width: 530px
    }

    #kali-highlights li {
        text-align: justify;
        width: auto;
        padding-left: 0;
        padding-right: 0
    }
}